body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #E8E8E8;
}

h1 {
	text-align: center;
}

div.tooltip {
	position: relative;
	text-align: center;
	width: 85px;
	height: 28px;
	padding: 2px;
	font: 8px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

div.tooltip2 {
	position: absolute;
	text-align: center;
	width: 50px;
	padding: 2px;
	font: 8px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.clicked {
	fill: 'red';
	stroke: 'black';
	opacity: .8;
}

.slider {
  overflow:auto;
  height:300px;
  width: 600px;
  margin: 10px auto;
  position: relative;
}

.slider-viewport {
  width: 600px;
  height: 300px;
  overflow: hidden;
}

.slider-content {
  display: grid;
  grid-auto-flow: column;
  transition: 1s all;
}
.slider-content svg {
  width: 300px;
  height: 300px;
}

button {
	margin: 0 auto; 
	display:block;
	font-size: 16px;
	background-color: #B0B0B0;
  color: black;
  border: 2px solid #B0B0B0;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  padding: 8px 40px;
  transition-duration: 0.5s;
}

button:hover{
  background-color: #E8E8E8;
  color: black;
}

