body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #E8E8E8;
}

h1 {
	text-align: center;
}

.indirectTable {
  overflow: auto;
  height: 230px;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	font-size: 80%;
}
table {
  	table-layout: fixed;
  	width:100%;
}
td, th {
  	width: 80px;
  	height:  15px;
}
th {background-color:white;}

td:first-child, th:first-child {
  position:sticky;
  left:0;
  z-index:1;
}
thead tr th {
  position:sticky;
  top:0;
}

.diag {
	font-weight: bold;
	z-index:2;
	width: 120px;

	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(49%, white), color-stop(50%, black), , color-stop(51%, white));
	background-image: -webkit-linear-gradient(top right, white 49%, black 50%, white 51%);
	background-image: -o-linear-gradient(top right, white 49%, black 50%, white 51%);
	background-image: linear-gradient(to bottom left, white 49%, black 50%, white 51%);
}

.top {
	-webkit-transform: translate(20px,0px);
		-ms-transform: translate(20px,0px);
			transform: translate(20px,0px);
}

.bottom {
	-webkit-transform: translate(-20px,0px);
		-ms-transform: translate(-20px,0px);
			transform: translate(-20px,0px);
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 80px;
	height: 28px;
	padding: 2px;
	font: 8px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.clicked {
	fill: 'red';
	opacity: .8;
}

button {
	margin: 0 auto; 
	display:block;
	font-size: 16px;
	background-color: #B0B0B0;
  color: black;
  border: 2px solid #B0B0B0;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  padding: 8px 40px;
  transition-duration: 0.5s;
}

button:hover{
  background-color: #E8E8E8;
  color: black;
}
